.card {
  width: 353px;
  height: 136px;
  padding: 20px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  color: #1d2129;

  box-shadow: 0px 1px 1px 0px #0000000a;
  box-shadow: 0px 4px 10px 0px #0000000a;
  box-sizing: border-box;
  background-color: white;

  &-header {
    margin-bottom: 21.5px;
    text-align: left;
  }
  &-title {
    font-size: 16px;
    font-weight: 600;
    color: #19191a;
  }

  &-subtitle {
    font-size: 13px;
    font-weight: 500;
    color: #96979a;
    margin-left: 8px;
  }

  &-desc {
    text-align: left;
  }
}
